
body {
  margin: 0;
  padding: 0;
  font-family: 'Coming Soon', cursive;;
  font-size: 16px;
}

.main-header {
  z-index: 9;
  background: #34495e;
  color: #FFF;
  position: fixed;
  left: 300px;
  right: 0;
  top: 0;
  height: 40px;
  padding: 0 100px;
  .header-title {
      line-height: 40px;
      margin: 0;
  }
  .btn {
    height: 100%;
    border-radius: 0;
  }
}

.main-content {
  padding: 40px 100px;
  padding-top: 70px;
  position: absolute;
  left: 300px;
  right: 0;
  ul {
      padding-top: 40px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
          margin-bottom: 40px;
          &:last-of-type {
              margin: 0;
          }
      }
  }
  .link-title {
      text-align: right;
      color:#2ecc71;
  }
  a {
      &:hover {
          text-decoration: none;
          color: inherit;
      }
  }
} 

.link-success {
    color:#2ecc71;
    &:hover, &:focus {
        text-decoration: none;
        color:#2ecc71;
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999;
}

.pointer {
    cursor: pointer;
}

.loading {
    margin: 0 auto;
    width: 70px;
    margin-bottom: 30px;
}

.link-preview {
    display: flex;
    border: 1px solid#34495e;
    .link-image {
        background: #e1e8ed no-repeat center;
        background-size: cover;
        flex: 0 0 125px;
    }
    .link-details {
        padding: 10px 15px;
        h5 {
            color: #34495e;
            font-weight: bold;
            font-size: 18px;
        }
        P {
            font-size: 14px;
        }
    }
    &:hover {
        border-color: #2ecc71;
    }
}

.simple-link {
    color: inherit;
}